<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Name :</label>
            <div class="col-sm-6">
                <%= @user.name %>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Email :</label>
            <div class="col-sm-6">
                <%= @user.email %>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Phone :</label>
            <div class="col-sm-6">
                <%= @user.phone %>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Department :</label>
            <div class="col-sm-6">
                <%= depart_infor(@user.department_id) %>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Home_town :</label>
            <div class="col-sm-6">
                <%= @user.home_town %>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Date Birth :</label>
            <div class="col-sm-6">
                <%= @user.date_birth %>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Position :</label>
            <div class="col-sm-6">
                <%= @user.position %>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label">Status :</label>
            <div class="col-sm-6">
                <%= @user.status ? "presence": "has left" %>
            </div>
        </div>
    </div>
</div>