<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |u| %>
        <%= render 'users/error_messages' %>

        <%= u.label :name %>
        <%= u.text_field :name, class: "form-control" %>

        <%= u.label :email %>
        <%= u.email_field :email, class: "form-control" %>

        <% if update_password %>

          <%= u.label :password %>
          <%= u.password_field :password, class: "form-control" %>

          <%= u.label :password_confirmation, "Confirmation" %>
          <%= u.password_field :password_confirmation, class:"form-control" %>
        <% end %>

        <%= u.label :home_town %>
        <%= u.text_field :home_town, class: "form-control" %>

        <%= u.label :phone %>
        <%= u.text_field :phone, class: "form-control" %>

        <%= u.label :date_birth %>
        <%= u.date_field :date_birth, class: "form-control" %>

        <% if is_admin(current_user) %>

          <%= u.label :department_id %>
          <%= u.select :department_id, Department.all.collect {|dept| [dept.name, dept.id]}, prompt: "Choose one" %>

          <%= u.label :position %>
          <%= u.select :position, options_for_select([["staff", "staff"], ["intern", "intern"], ["admin", "admin"]], @user.position), prompt: "Choose one" %>

          <div class="form-check">
              <%= u.check_box :status, class: "form-check-input" %> 
              <label class="form-check-label" for="exampleCheck1">Precence</label>
          </div>

        <% end %>

      <%= u.submit "Save", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>

<%= render "users/form_script" %>