
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Department</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index(1) do |user, index| %>
      <tr onclick="location.href='<%= user_path(user.id) %>'" class="hover-shadow" style="color:<% if user.status %>gray<% end %>">
          <th><%= params[:page]?index + 30*(params[:page].to_i-1):index %></th>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= (Department.find(user.department_id)).name %></td>
          <td>
            <%= link_to "Update", edit_user_path(user.id) %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

