
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Department</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index(1) do |user, index| %>
      <tr onclick="location.href='<%= user_path(user.id) %>'" class="hover-shadow" style="<%= row_hover(user.status)%>">
          <th><%= index_table(index) %></th>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= depart_infor(user.department_id) %></td>
          <td>
            <%= link_to "Update", edit_user_path(user.id), style: "float:left" %> 
            <% if is_admin(current_user) %> 
                 <%= form_tag(user, method: :delete, class: "custom-delete") do %>
                  | <%= submit_tag 'Delete', data: { confirm: "Are you sure?" } %>
                <% end %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
