<% provide(:title, 'HRMS') %>

<h1>All users</h1>

<%= form_tag(users_path, method: :get, class:"input-group") do %>
  <div class="form-outline">
      <%= text_field_tag 'query', params[:query], class: 'form-control' %>
  </div>
  <%= submit_tag 'Search', class:"btn btn-primary" %>
<% end %>

    <%= will_paginate %> 

<%= render "users/table" %>
